@mixin buttondata {
  width: 35%;
  min-width: 48px;
  min-height: 48px;
  color: $button-textcolor;
  border: 2px solid;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
}

.location {
  align-content: center;
  width: fit-content;
  .locationPlace {
    font-size: 60px;
  }
}

.description {
  flex-direction: column;
  width: auto;
  .iconDescription {
    width: fit-content;
  }
}

.temp {
  flex-direction: row;
  width: 40%;

  .currentTemp {
    width: 20%;
    font-size: 2rem;
  }
  .degreeTemp {
    width: 20%;
    font-size: 2rem;
  }
}

.citySearch {
  flex-direction: column;
}

.theButton {
  @include buttondata();
  margin: 10px 0px 10px 0px;
}
.default {
  @include buttondata();
}

.low,
.high,
.wind,
.humidity {
  flex-direction: column;
  align-content: space-around;
}

.low {
  padding-left: 10px;
}
.high {
  padding-right: 35px;
}
